## My real first hands-on project
### Goal -> Load data in munnar.csv into  a mysql schema

#### So first we need to import libraries

In [1]:
import pandas as pd
import mysql.connector as myconn 
from mysql.connector import errorcode

##### Overview of this df

In [2]:
uncleaned_df = pd.read_csv("munnar.csv")
uncleaned_df

,Hotel Name\t\t\t\t\t\t\t\t\t,Rating,Rating Description,Reviews,Star Rating,Location,Nearest Landmark,Distance to Landmark,Price,Tax
0,Gokulam Park,4.1,Very Good,1058,4.0,Chithirapuram,city centre,10.2 km,"2,728",574
1,Sterling Munnar,3.8,Very Good,1088,4.0,Chinnakanal,city centre,19.2 km,"4,451",969
2,Issacs Residency,4.1,Very Good,322,3.0,Central Munnar,Attukal Waterfalls,950 m,"2,758",684
3,Tea Valley Resort,4.3,Excellent,1337,4.0,Pallivasal,city centre,4.8 km,"2,675",756
4,Grand Plaza,4.3,Excellent,1058,4.0,Moolakadai,Attukal Waterfalls,1.9 km,"3,203",654
...,...,...,...,...,...,...,...,...,...,...
69,The Fog Munnar (Resort & Spa),4.5,Excellent,292,5.0,Ettycity Road,city centre,13.2 km,"8,103","2,178"
70,Skylark Holidays | Rooms & Caretaker,4.1,Very Good,17,NaN,Chinnakanal,city centre,20.6 km,"3,317",684
71,Deshadan Mountain Resort- The highest resort i...,4.3,Excellent,395,4.0,Pallivasal,city centre,5.8 km,"3,953",808
72,Nature Zone Jungle Resort,4.1,Very Good,187,4.0,Pallivasal,city centre,6.6 km,"6,862","2,124"
73,Lumino Highrange Homestay | Room & Guided Treks,3.2,Good,221,NaN,Moolakadai,Attukal Waterfalls,1.3 km,"1,014",223

Checking datatype of fields

In [3]:
uncleaned_df.dtypes

Hotel Name\t\t\t\t\t\t\t\t\t     object
Rating                          float64
Rating Description               object
Reviews                           int64
Star Rating                     float64
Location                         object
Nearest Landmark                 object
Distance to Landmark             object
Price                            object
Tax                              object
dtype: object

Looks like there are some mistakes
Convert all object type to corresponding columns

First rename the first column name

In [4]:
uncleaned_df.rename(columns={'Hotel Name\t\t\t\t\t\t\t\t\t':'Hotel Name'},inplace=True)
uncleaned_df

,Hotel Name,Rating,Rating Description,Reviews,Star Rating,Location,Nearest Landmark,Distance to Landmark,Price,Tax
0,Gokulam Park,4.1,Very Good,1058,4.0,Chithirapuram,city centre,10.2 km,"2,728",574
1,Sterling Munnar,3.8,Very Good,1088,4.0,Chinnakanal,city centre,19.2 km,"4,451",969
2,Issacs Residency,4.1,Very Good,322,3.0,Central Munnar,Attukal Waterfalls,950 m,"2,758",684
3,Tea Valley Resort,4.3,Excellent,1337,4.0,Pallivasal,city centre,4.8 km,"2,675",756
4,Grand Plaza,4.3,Excellent,1058,4.0,Moolakadai,Attukal Waterfalls,1.9 km,"3,203",654
...,...,...,...,...,...,...,...,...,...,...
69,The Fog Munnar (Resort & Spa),4.5,Excellent,292,5.0,Ettycity Road,city centre,13.2 km,"8,103","2,178"
70,Skylark Holidays | Rooms & Caretaker,4.1,Very Good,17,NaN,Chinnakanal,city centre,20.6 km,"3,317",684
71,Deshadan Mountain Resort- The highest resort i...,4.3,Excellent,395,4.0,Pallivasal,city centre,5.8 km,"3,953",808
72,Nature Zone Jungle Resort,4.1,Very Good,187,4.0,Pallivasal,city centre,6.6 km,"6,862","2,124"
73,Lumino Highrange Homestay | Room & Guided Treks,3.2,Good,221,NaN,Moolakadai,Attukal Waterfalls,1.3 km,"1,014",223

In [5]:
uncleaned_df = uncleaned_df.convert_dtypes()
uncleaned_df.dtypes

Hotel Name              string[python]
Rating                         Float64
Rating Description      string[python]
Reviews                          Int64
Star Rating                      Int64
Location                string[python]
Nearest Landmark        string[python]
Distance to Landmark    string[python]
Price                   string[python]
Tax                     string[python]
dtype: object

#### So looks like some columns have NaN cells this makes converting datatype impossible <br>So what im gonna do is fill in those cells corresponding values <br> For instance Star Rating field instead of displaying NaN , I'll replace it with 0.0. This makes more sense rather than NaN value

In [15]:
evaluated_values = {"Star Rating":0 , "Tax":"0"}
uncleaned_df.fillna(value=evaluated_values,inplace=True)
uncleaned_df

,Hotel Name,Rating,Rating Description,Reviews,Star Rating,Location,Nearest Landmark,Distance to Landmark,Price,Tax
0,Gokulam Park,4.1,Very Good,1058,4,Chithirapuram,city centre,10.2 km,"2,728",574
1,Sterling Munnar,3.8,Very Good,1088,4,Chinnakanal,city centre,19.2 km,"4,451",969
2,Issacs Residency,4.1,Very Good,322,3,Central Munnar,Attukal Waterfalls,950 m,"2,758",684
3,Tea Valley Resort,4.3,Excellent,1337,4,Pallivasal,city centre,4.8 km,"2,675",756
4,Grand Plaza,4.3,Excellent,1058,4,Moolakadai,Attukal Waterfalls,1.9 km,"3,203",654
...,...,...,...,...,...,...,...,...,...,...
69,The Fog Munnar (Resort & Spa),4.5,Excellent,292,5,Ettycity Road,city centre,13.2 km,"8,103","2,178"
70,Skylark Holidays | Rooms & Caretaker,4.1,Very Good,17,0,Chinnakanal,city centre,20.6 km,"3,317",684
71,Deshadan Mountain Resort- The highest resort i...,4.3,Excellent,395,4,Pallivasal,city centre,5.8 km,"3,953",808
72,Nature Zone Jungle Resort,4.1,Very Good,187,4,Pallivasal,city centre,6.6 km,"6,862","2,124"
73,Lumino Highrange Homestay | Room & Guided Treks,3.2,Good,221,0,Moolakadai,Attukal Waterfalls,1.3 km,"1,014",223

### Now im gonna convert Price and Tax field to float datatype <br>

##### It commonly occurs an error when we're trying to convert a string to an integer, but the string contains non-numeric characters that cannot be converted to an integer. In our case, it seems like we have a string with commas (,), which is not a valid character for an integer.

In [22]:
uncleaned_df["Price"] = uncleaned_df["Price"].str.replace(",","")
uncleaned_df["Tax"] = uncleaned_df["Tax"].str.replace(",","")

uncleaned_df["Price"] = uncleaned_df["Price"].astype('int')
uncleaned_df["Tax"] = uncleaned_df["Tax"].astype('int')
uncleaned_df.dtypes

Hotel Name              string[python]
Rating                         Float64
Rating Description      string[python]
Reviews                          Int64
Star Rating                      Int64
Location                string[python]
Nearest Landmark        string[python]
Distance to Landmark    string[python]
Price                            int64
Tax                              int64
dtype: object

### Our table is quite small so i loaded it to csv then using Excel to double-check making sure that evrth be okay

In [23]:
uncleaned_df.to_csv("munnar_schema.csv",index=False)

#### Looks good now

#### Now connect to mysql schema

In [27]:
config = {
    'user' : 'root',
    'password' : 'root',
    'host': '192.168.0.101',
    'database': 'test',
    'raise_on_warnings': True
}
try:
  cnx = myconn.connect(**config)
  
except myconn.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)
else:
  print('Connected Successfully')

Connected Successfully

#### Now we need to create table

In [32]:
create_munnar_table = ("""create table if not exists munnar(
                       STT int primary key auto_increment,
                       Hotel_Name varchar(100),
                       Rating float,
                       Rating_Description varchar(50),
                       Reviews int,
                       Star_Rating  int,
                       Location varchar(50),
                       Nearest_Landmark varchar(50),
                       Distance_to_Landmark varchar(10),
                       Price int,
                       Tax int
) """)

In [33]:
cur = cnx.cursor()
cur.execute(create_munnar_table)
cnx.commit()

#### Now inserting values into table

In [30]:
insert_munnar_table = ("""insert into munnar(
                       Hotel_Name,
                       Rating,
                       Rating_Description,
                       Reviews,
                       Star_Rating,
                       Location,
                       Nearest_Landmark,
                       Distance_to_Landmark,
                       Price,
                       Tax) values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
""")

In [40]:
for i,row in uncleaned_df.iterrows():
    values = (
        row['Hotel Name'],
        row['Rating'],
        row['Rating Description'],
        row['Reviews'],
        row['Star Rating'],
        row['Location'],
        row['Nearest Landmark'],
        row['Distance to Landmark'],
        row['Price'],
        row['Tax']
    )
    
    cur.execute(insert_munnar_table, values)
    # cur.execute(insert_munnar_table,list(row))
cnx.commit()